body {
	background-color: #eee
}

#content {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 40px auto 0;
	padding: 20px 40px 30px;
	width: 650px
}

#title {
	color: #333;
	font-size: 20px;
	margin: 10px 0 0;
	text-align: center
}

.option-row {
	margin-top: 40px
}

.option-row:after {
	clear: both;
	content: "";
	display: table
}

.option-name {
	float: left;
	font-weight: bold;
	width: 150px
}

.option-value {
	float: left
}

.option-value-primary:not(:first-of-type) {
	margin-top: 20px
}

.option-value-secondary {
	margin: 5px 0 0 40px
}

.text-disabled {
	opacity: 0.6
}

.btn-row {
	margin-top: 40px;
	height: 30px
}

.btn-row .btn {
	height: 100%;
	padding: 1px 20px;
	vertical-align: top
}

#save-status {
	background-color: #fe3;
	display: inline-block;
	height: 100%;
	line-height: 30px;
	margin-left: 20px;
	opacity: 0;
	padding: 0 10px;
	vertical-align: top
}

.footer {
	margin-top: 10px;
	text-align: center
}

* {
	box-sizing: border-box
}

body {
	color: #222;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px
}

a {
	color: #11c;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

.btn {
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	height: 24px;
	padding: 1px 7px;
	-webkit-user-select: none
}

.btn:hover {
	background-color: #bbb
}

.btn:focus {
	outline: 0
}

.btn:active {
	outline: 0;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15)
}

.btn[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	box-shadow: none;
	opacity: 0.6
}

.btn-default {
	background-color: #eee;
	border-color: #ccc;
	color: #222
}

.btn-default:hover {
	background-color: #ddd;
	border-color: #bbb
}

.btn-primary {
	background-color: #48e;
	border-color: #37d;
	color: #fff
}

.btn-primary:hover {
	background-color: #37d;
	border-color: #26c
}